<div class="modal fade" id="deleteAnswer{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">DELETE ANSWER</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <h5>Do you want to delete the answer?</h5>
                <p class="bg-danger text-white rounded-pill">By performing this action, you will not be able to go back
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                <a href="/answer/delete/{{id}}" class="btn btn-dark">Delete</a>
            </div>
        </div>
    </div>
</div>