<div class="container mt-5"> <br>
    <div class="row justify-content-center align-items-center">
        <div class="col-md-12">
            <div class="card shadow rounded-pill">
                <div class="card-body">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-md-4">
                            <img src="https://juanluisn.blob.core.windows.net/imagenes/undraw_Searching_re_3ra9.png"
                                class="mx-auto d-block" style="width: 256px; height: 256px;">
                        </div>
                        <div class="col-md-8 pe-5">
                            <h4 class="mt-2">Log in</h4>
                            <hr class="mb-3">
                            <form action="/signin" method="POST">
                                <div class="mb-3">
                                    <label for="">Email:</label>
                                    <div class="input-group">
                                        <span class="input-group-text">
                                            <i class="fas fa-envelope"></i>
                                        </span>
                                        <input type="email" name="email" placeholder="Email" class="form-control">
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="">Password:</label>
                                    <div class="input-group">
                                        <span class="input-group-text">
                                            <i class="fas fa-key"></i>
                                        </span>
                                        <input type="password" name="password" placeholder="Password"
                                            class="form-control">
                                    </div>
                                </div>
                                <div class="mb-3 d-grid gap-2 col-10 mx-auto">
                                    <button type="submit" class="btn btn-dark rounded-pill">Log in</button>
                                </div>
                            </form>
                            <hr>
                            <p class="text-center">¿You don't have an account? Create one and join our community</p>
                            <div class="mb-3 d-grid gap-2 col-10 mx-auto">
                                <a href="/signup" class="btn btn-dark rounded-pill">Sign up</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>